<html>
<head>
    <title>JS diff</title>
    <script src="../node_modules/diff/dist/diff.js"></script>
    <script src="../src/find_diff.js" type="text/javascript"></script>
</head>
<body>
    <p>Thank you to all my wonderful teachers, who inspired me to believe in myself and be brave.I am proud, well in fact, I am very proud to be the first Pashtun, the first Pakistani, and the youngest person to receive this award. Along with that, along with that, I am pretty certain that I am also the first recipient of the Nobel Peace Prize who still fights with her younger brothers. I want there to be peace everywhere, but my brothers and I are still working on that.</p>
    <textarea rows="5" cols="100" id="para"></textarea>
    <input type="submit" value="Submit Para" onclick="getDiff1()">
    <div id="difference"> </div>
</body>
</html>